.webContainer {
  min-width: 620px;
  background-color: #282828;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 14vh;
  user-select: none;
}

.webPlayer {
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
  color: white;
}

.webPlayer .artist {
  opacity: 0.6;
  font-size: 0.8rem;
}

.now-playing {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.now-playing {
  display: inline;
}

.webPlayer-left {
  width: 30%;
  min-width: 180px;
}

.player-card {
  display: flex;
  align-items: center;
}

.player-card-btns {
  position: absolute;
  left: 9rem;
}

.webPlayer button {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.playback-bar {
  border: 1px solid beige;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.now-playing-center {
  text-align: center;
  position: relative;
  bottom: 10%;
}

.webPlayer-right {
  display: flex;
}

#audio {
  border: 1px solid red;
}

.player-controls {
}
