html {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin: 24px 0;
}

ol,
ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto-fill;
  grid-template-areas:
    'sidebar content'
    'player player';
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  max-height: 100vh;
}

.content {
  grid-area: content;
  overflow: scroll;
  background-image: linear-gradient(
      to right bottom,
      rgb(60, 66, 93),
      rgb(0, 0, 0)
    ),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
  background-size: cover;
  background-repeat: no-repeat;
}

.player {
  grid-area: player;
}
