.navBar {
  height: 708px;
  width: 230px;
  /* Comment this to make app responsive using grid : can't seem 
     without grid*/
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 0;
  left: 0; */
  background-color: black;
  cursor: pointer;
  color: #fff;
}
