.sider-bar {
  height: 86vh;
  width: 230px;
  background-color: black;
  color: #fff;
  display: block;
}

.sider-bar ul {
  list-style: none;
}

.sider-bar a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.link-subtle {
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.link-subtle:hover {
  opacity: 1;
}

.sider-bar h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 0.6;
}
