.navBar-header {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-bottom: 12px;
  padding-top: 15px;
}

.navBar-header-text {
  font-size: 30px;
  text-decoration: none;
  opacity: 0.6;
}

.navBar-header-text:hover {
  opacity: 1;
}

.logo {
  width: 60px;
}
